body {
  margin: 0;
  
  background-image: url('../img/fondo-hojas.jpg');    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;

}

#lienzo{
  
  margin: 50px auto;
  display: block;
  border-radius: 7px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.3)
}
.rectangulo{
opacity: 1
}
.personaje{
opacity: 1
}

.colorear{
opacity: 0;
}
.desaparecer{
display: none
}

.colorear_human{
opacity: 0;
}

.clothing_parts{
cursor: pointer;
}

.parts_clotihinOff{
opacity: 0;
}

.prueba{
  animation: color 2s ease-in-out;
  transform-origin: center center;
  
}

@keyframes color {
  0%{
    transform: rotate(1.2deg);
  }
  20%{
    transform: rotate(-1.2deg);
  }
  40%{
    transform: rotate(1.2deg);
  }
  60%{
    transform: rotate(-1.2deg);
  }
  80%{
    transform: rotate(1.2deg);
  }
  100%{
    transform: rotate(-1.2deg);
  }
}

