/*modifique body y lienzo*/

body {
  margin: 0;
  
  background-image: url('../img/fondo-hojas.jpg');    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;

}

#lienzo{
  
  margin: 50px auto;
  display: block;
  border-radius: 7px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.3)
}

.click{
cursor:pointer;
}
.clothing {
  opacity:1;
}
.colorearVacio{
opacity: 0;
}
.colorear{
opacity: 0;
}
.desaparecer{
display: none
}

/* mover paisaje */
.mover{
animation:moverFondo 5.2s ease-out;
animation-fill-mode: forwards;  
}


.rueda{
border: 1px solid red;
margin: auto;
transform-origin: center 1028px;
animation-name: girar;
animation-duration: 5.1s;
animation-fill-mode: forwards;
animation-timing-function: linear ;

}

/* girar circulo simbolos */
@keyframes girar {
0%{
   transform: rotate(0deg);    
  }
100%{
    transform: rotate(-20deg);
  }
}
/* mover fondo paisaje*/
@keyframes moverFondo {
0%{
   transform: translateX(0); 
  }
100%{
   transform: translateX(-110px);
  }
}


/*abuela caminando*/
.abuela{
    animation:caminar 1.2s steps(8);
    animation-iteration-count: 4;
}
 
@keyframes caminar{
0%{
  transform: translateX(0px);
}
100%{
  transform: translateX(-1156px);      
   }
}

/*abuela estatica y saludondo*/
.saludo{
 animation:saludo 1s steps(7);
 animation-iteration-count: infinite;
}
  
@keyframes saludo{
0%{
  transform: translateX(0px);
}
100%{
  transform: translateX(-1012.68px);
}
}

/* mover montaña */
.prueba{
animation: color 2s ease-in-out infinite;
transform-origin: center center;
}

@keyframes color {
0%{
  transform: rotate(1.2deg);
     
}
20%{
  transform: rotate(-1.2deg);
}
40%{
  transform: rotate(1.2deg);
}
60%{
  transform: rotate(-1.2deg);
}
80%{
  transform: rotate(1.2deg);
  
}
100%{
  transform: rotate(-1.2deg);
}
}
