body {
  margin: 0;
  
  background-image: url('../img/fondo-hojas.jpg');    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;

}

#lienzo{
  
  margin: 50px auto;
  display: block;
  border-radius: 7px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.3)
}
.rectangulo{
opacity: 1;
}
.jungleBn{
opacity: 1;
}
.jungleColor{
opacity: 0;
}

.clothing {
  opacity: 1;
}
.colorear{
opacity: 0;
}
.desaparecer{
display: none
}

.coloresON{
opacity: 1;
}

.colorearVacio{
opacity: 0;
}

.parts_clotihinOff{
opacity: 0;
}

.clothing_parts{
cursor: pointer;
}

.prueba{
  animation: color 2s ease-in-out;
  transform-origin: center center;
  
}

@keyframes color {
  0%{
    opacity: 0.3;
    transform: rotate(1.2deg);
       
  }
  20%{
    opacity: 0.8;
    transform: rotate(-1.2deg);
  }
  40%{
    opacity: 0.3;
    transform: rotate(1.2deg);
  }
  60%{
    opacity: 0.8;
    transform: rotate(-1.2deg);
  }
  80%{
    opacity: 0.3;
    transform: rotate(1.2deg);
    
  }
  100%{
    opacity: 1;
    transform: rotate(-1.2deg);
  }
}

