*{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 40px;
  color: white;
}
body {
  margin: 0;
  /* background-image: url('skyBackground.png');         */
  background: #7ed6df;
}

/*.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden; 
  margin-top: calc(50vh - 50%);
  max-height: 60vh;
  max-width: 60vh;
  border: 10px solid red;
  transform: rotate(45deg);
}*/
.fondo {
 /* background-image: url("../img/circularTrans.png");*/
  /*background-size: cover;*/
} 
/*animaciones */
.moveKamentsa{
  animation: girarKamentsa 5s ease-in-out;
  animation-fill-mode: forwards;
  
}
.moveInga{
  animation: girarInga 5s ease-in-out;
  animation-fill-mode: forwards;
}
.moveZiona{
  animation: girarZiona 5s ease-in-out;
  animation-fill-mode: forwards;
}
.moveCofan{
  animation: girarCofan 5s ease-in-out;
  animation-fill-mode: forwards;
}

.color {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  float: left;
   
}
.left {
  border-right: 1px solid white;
}

.right {
  border-left: 1px solid white;
}

.top{
  border-bottom: 1px solid white;
}
.bottom{
  border-top: 1px solid white;
}
.opacity {
  background: gray;
  opacity: 0.6;
  
}
 .clarity {
  opacity: 0;
  cursor: pointer;
}
/* temporales para ver el movimiento */
/*.opacity2 {
  background: yellow;
  opacity: 0.6;
  
} */

/* .opacity2:hover {
  opacity: 0;
  cursor: pointer;
} */

.center{
  /*box-sizing: border-box;
  border-radius: 50%;
  border:1px solid white;*/
  /* background: rgb(49, 49, 49); */
  /*position: absolute;
  height: 40vh;
  width: 40vh;
  top: calc(50% - 20vh);
  left: calc(50% - 20vh);
  background-image: url("../img/cuadroCentro.png");
  background-size: cover;
  z-index: 2;*/
}

.principal-menu{
  margin: 0 auto;
  position: relative;
   height: 480px;
  width: 850px;
 background-image:  url("../img/img-menu/menu-fondo.png");

  background-repeat: no-repeat;
  background-size: cover;

}
.game-container{
  display: flex;
  height: 100vh;


}

@keyframes girarKamentsa {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
    animation-play-state: paused;
  } 
}

@keyframes girarInga {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(630deg);
    
  } 
}

@keyframes girarZiona {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(450deg);
    
  } 
}

@keyframes girarCofan {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(540deg);
    
  } 
}


