*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  /* background-image: url('skyBackground.png');         */
  background: #7ed6df;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
}

.principal-menu{
  margin: 0 auto;
  position: relative; 
   height: 480px;
  width: 850px;
  background-image:  url("../img/img-menu/menu-fondo-only.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marco{
  margin: 0;  
  position: relative; 
  box-sizing: border-box; 

   
  z-index: 1; 
}



.gameboard{
   box-sizing: border-box; 
  width: 307px;
  height: 313px;
  transform: rotate(-45deg);

  background-repeat: no-repeat;
  background-size: contain;
 background-image: url("../img/img-menu/circulo-fondo-bn.png");
 background-position-y:3px;

}

.btn-menu{
  box-sizing: border-box; 
  width: 50%;
  height: 50%;
  position: absolute;
  opacity: 0;
}

.kamentsa{  
  top: 0;
  right: 0;  
}


.kofan{
   top: 0;
  left: 0;  
  
}
.siona{
  
  bottom: 0;
  left: 0;  
 
}
.inga{
  
  bottom: 0;
  right: 0;  
 
}

.kamentsa:hover , .kofan:hover , .siona:hover  , .inga:hover{
  opacity: 1;
  cursor:pointer;
  transition: all .1s;
  
}


.girar{  
  animation: rotar 5s ease-in-out;
  animation-fill-mode: forwards;
}


.moveKamentsa{
  animation: girarKamentsa 5s ease-in-out;
  animation-fill-mode: forwards;
  
}
.moveInga{
  animation: girarInga 5s ease-in-out;
  animation-fill-mode: forwards;
}
.moveKofan{
  animation: girarKofan 5s ease-in-out;
  animation-fill-mode: forwards;
}
.moveSiona{
  animation: girarSiona 5s ease-in-out;
  animation-fill-mode: forwards;
}



@keyframes girarKamentsa {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
    animation-play-state: paused;
  } 
}

@keyframes girarInga {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(630deg);
    
  } 
}

@keyframes girarKofan {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(450deg);
    
  } 
}

@keyframes girarSiona {
  0% {
    transform: rotate(0deg);
    
  }
  100%{
    transform: rotate(540deg);
    
  } 
}


/* **CSS overlay** */

.overlay{
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.overlay.active{
  opacity: 1;
  visibility: visible;
}


.modal{
  width: 500px;
  background: rgba(255, 255, 255, .8);
  padding: 2em;
  border-radius: .5em;
  /*posicón del texto*/
  text-align: center;
  position: relative;
  /* animation: modalOut 1s forwards; */
 }


.btn{
  background: lightgrey;
  padding: .6em .8em, 8em;
  border: none;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 ,-2em rgba(0, 0, 0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}

.btn:active{
  transform: scale(.9);
}

.btn.primary{
  background: #7dc800;
}

.btn.warning{
  background: red;
}
.modal-close{
  padding: .4em .4em .5em;
  border-radius: 50%;
  border: 3px solid currentColor;
  color: red;
  position: absolute;
  right: 11px;
  top: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  line-height: .5em;
  cursor: pointer;
}

.modal-close:active{
  transform: scale(.9);
}

h1{
  font-size: 40px;
  /* color: white; */
  text-transform: uppercase;
}

/* @keyframes animationIn{ */
  @keyframes modalIn{
    0%{
        transform: translateY(-3000px);
    }
    60%{
        transform: translateY(25px);
    }
    75%{
        transform: translateY(-10px);
    }

    90%{
        transform: translateY(5px);
    }
    /* si no defino el 100% se ubica en su posicion original */
}


 @keyframes modalOut{
    0%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(25px);
    } 
    100%{
        transform: translateY(-3000px);
    }
} 
